Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]

duration = [2,3,6,4]

df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

 loc and iloc are both important functions in Pandas for selecting data from a DataFrame, but they differ in how they perform the selection:

1.loc:This function is label-based indexing. It's used to select data using row and column labels. You specify the labels of the rows and columns you want to select. The syntax is `df.loc[row_labels, column_labels]`.

2.iloc:This one is integer-based indexing. It's used to select data using integer positions of rows and columns. You specify the integer indices of the rows and columns you want to select. The syntax is `df.iloc[row_indices, column_indices]`.

In [2]:
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}

df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])

# Using loc to select data by labels
print(df.loc['row2', 'B'])  # Selects the value in row 'row2', column 'B'

# Using iloc to select data by integer positions
print(df.iloc[1, 1])  # Selects the value at row index 1, column index 1

5
5

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].Did you observe any difference in both the outputs? If so then explain it.

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [3]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)
print(df1)

# Reindexing and storing in new_df
new_df = df1.reindex([3, 0, 1, 2])
print(new_df)
print("THe Output of the loc function ")
print(new_df.loc[2])
print("\n\nTHe Output of the iloc function ")
print(new_df.iloc[2])

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.478696  0.981677  0.823296  0.492231  0.676616  0.272542
2  0.055910  0.157738  0.541773  0.678094  0.845282  0.481168
3  0.284870  0.550493  0.249360  0.763115  0.293640  0.001747
4  0.520194  0.685286  0.852902  0.543933  0.045408  0.343854
5  0.439745  0.010342  0.569026  0.555607  0.987457  0.973222
6  0.454227  0.112719  0.434707  0.402156  0.973060  0.077521
   column_1  column_2  column_3  column_4  column_5  column_6
3  0.284870  0.550493  0.249360  0.763115  0.293640  0.001747
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.478696  0.981677  0.823296  0.492231  0.676616  0.272542
2  0.055910  0.157738  0.541773  0.678094  0.845282  0.481168
THe Output of the loc function
column_1    0.055910
column_2    0.157738
column_3    0.541773
column_4    0.678094
column_5    0.845282
column_6    0.481168
Name: 2, dtype: float64


THe Output of the iloc function
column_1    0.478696
column_2    0.981677
column_3    0.823296
column_4    0.492231
column_5    0.676616
column_6    0.272542
Name: 1, dtype: float64

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [4]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)
# print(df1)
print ("MEAN")
print(df1.mean())
df1['column_2'].std()

MEAN
column_1    0.582624
column_2    0.640858
column_3    0.463190
column_4    0.479377
column_5    0.350596
column_6    0.426412
dtype: float64

0.14180826164095364

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [5]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replacing data in the second row of 'column_2' with a string
replacement_string = "String Data"
df1.loc[2, 'column_2'] = replacement_string

# Finding the mean of 'column_2'
column2_mean = df1['column_2'].mean()
print("Mean of column 'column_2' after replacement:", column2_mean)

<ipython-input-5-da0c7e917b20>:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'String Data' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = replacement_string

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Windows functions, also known as window or analytic functions, are a powerful feature in Pandas and other data analysis tools that allow you to perform calculations across a specified "window" or "group" of data. These calculations are performed over a defined set of rows related to the current row, unlike aggregate functions that compute a single value for an entire column.

Window functions are particularly useful when you want to compute values that are contextually dependent on neighboring rows. Some common use cases include calculating moving averages, cumulative sums, rank order, and more.

In Pandas, you can use window functions using the `.rolling()` and `.expanding()` methods.

Types of Window Functions:

1. .rolling():This function is used for creating rolling window calculations. It creates a window of a fixed size and moves it over the data. It's particularly useful for calculating moving averages, standard deviations, and other aggregations within a sliding window.

2. .expanding():This function is used for creating expanding window calculations. It starts with a minimum number of data points and gradually includes more data points as it moves forward. It's useful for calculating cumulative sums, cumulative products, and other growing aggregates.

In [6]:
import pandas as pd
import numpy as np

data = {'value': [10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

# Rolling window mean with window size 3
df['rolling_mean'] = df['value'].rolling(window=3).mean()

# Expanding window sum
df['expanding_sum'] = df['value'].expanding().sum()

print(df)

   value  rolling_mean  expanding_sum
0     10           NaN           10.0
1     20           NaN           30.0
2     30          20.0           60.0
3     40          30.0          100.0
4     50          40.0          150.0

Q7. Write a code to print only the current month and year at the time of answering this question.

In [7]:
import pandas as pd

# Get the current date and time
current_datetime = pd.to_datetime('today')
print(current_datetime)

# Extract the month and year
current_month = current_datetime.month
current_year = current_datetime.year

print("Current Month:", current_month)
print("Current Year:", current_year)

2024-11-21 04:39:11.089030
Current Month: 11
Current Year: 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
import pandas as pd

# Get input dates from the user
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert input strings to datetime objects
date1 = pd.to_datetime(date_str1)
date2 = pd.to_datetime(date_str2)

# Calculate the time difference using timedelta
time_difference = date2 - date1

# Calculate days, seconds, and minutes from the time difference
days = time_difference.days
seconds = time_difference.seconds
minutes = seconds // 60
hours = minutes // 60
minutes = minutes % 60

# Display the result
print(f"Time difference: {days} days, {hours} hours, {minutes} minutes")

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# # Get file path from the user
# file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv("cat.csv")

# Display the available columns for the user to choose from
print("Available columns:")
print(df.columns)

# Get column name from the user
column_name = input("Enter the column name to convert to categorical: ")

# Get category order from the user
category_order = input("Enter the category order (comma-separated): ").split(',')

# Convert the specified column to categorical with specified category order
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the DataFrame based on the categorical column
sorted_df = df.sort_values(by=column_name)

# Display the sorted data
print(sorted_df)

Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Get file path from the user
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv("cat.csv")

# Convert the 'Date' column to datetime if it's not already
df['Date'] = pd.to_datetime(df['Date'])

# Create a pivot table to aggregate sales by product category and date
pivot_table = df.pivot_table(index='Date', columns='Product Category', values='Sales', aggfunc='sum')

# Plot the stacked bar chart
plt.figure(figsize=(10, 6))
pivot_table.plot(kind='bar', stacked=True)
plt.title('Sales of Product Categories Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.legend(title='Product Category')
plt.xticks(rotation=45)
plt.tight_layout()

# Display the chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd
df = pd.read_csv("sdata.csv")
print(df)
print("The mean of the data is ", df["Test Score"].mean())
print("The medium of the data is ", df["Test Score"].median())
print("The mode of the data is ", df["Test Score"].mode())
df